.hurry-up__wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  padding: 6.7% 10%;
}

.hurry-up__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hurry-up__text {
  color: $secondary;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: center;
  padding-right: 7.6%;
  white-space: nowrap;

  &_big-size {
    font-weight: 600;
    font-size: 72px;
    line-height: 64px;
    padding: 0 42px;
  }
}