.fast-nav {
  display: flex;
}

.fast-nav__item {
  margin-right: 40px;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}

.fast-nav__link {

  &:hover {
    text-decoration: underline;
  }
}