.home-aside {
  position: relative;
  height: 100%;
  width: 109px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home-aside__text {
  transform: rotate(-90deg) translateY(-50%);
  white-space: nowrap;
  transform-origin: right top;
  position: absolute;
  top: 100px;
  right: 50%;
  cursor: vertical-text;
  font-size: 17px;
  line-height: 23px;
}

.home-aside__button {
  padding-bottom: 35px;
}
