.home {
  height: 100vh;
  display: flex;
}

.home__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home__content-body {
  position: relative;
  flex: 1;
}

.home__aside {
  width: 109px;
}

.home__body-slider {
  flex: 1;
}