.input-radio {
  display: none;

  &:checked + label {
    background-color: red;
  }
}

.input-radio:checked + label {
  background-color: $submain;
  color: $secondary;
}


.input-radio__for {
  background-color: #F2F2F2;
  display: block;
  white-space: nowrap;
  padding: 10px 30px;
  cursor: pointer;
  transition: all $speed;
}