
.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials_absolute {
  position: absolute;
  top: 50%;
  right: 135px;
  transform: translateY(-50%);
}

.socials__item {
  margin-bottom: 15px;
}

.socials__item-icon {
  width: 30px;
  height: 30px;
  fill: $secondary;
  transition: fill $speed;

  &:hover {
    fill: $btn;
  }
}