section.about-company
  .about-company__title
    h2.title О комплексе
  .about-company__body
    .about-company-slider
      .about-company-slider__info
        ul.about-company-slider-info
          li.about-company-slider-info__item
            .about-company-slider-info__title Общая информация
            .about-company-slider-info__text
              | Жилой комплекс «Аквамарин» — это уже третий проект микрорайонной 
              | застройки девелопера «Столица Нижний», который, как и жилые комплексы «Седьмое небо» 
              | и «Цветы», строится в формате «город в городе». Это один из самых привлекательных 
              | микрорайонов заречной части, в котором созданы комфортные условия для его жителей.
          li.about-company-slider-info__item
            .about-company-slider-info__title 2Общая информация
            .about-company-slider-info__text
              | 2Жилой комплекс «Аквамарин» — это уже третий проект микрорайонной 
              | застройки девелопера «Столица Нижний», который, как и жилые комплексы «Седьмое небо» 
              | и «Цветы», строится в формате «город в городе». Это один из самых привлекательных 
              | микрорайонов заречной части, в котором созданы комфортные условия для его жителей.
          li.about-company-slider-info__item
            .about-company-slider-info__title 3Общая информация
            .about-company-slider-info__text
              | 3Жилой комплекс «Аквамарин» — это уже третий проект микрорайонной 
              | застройки девелопера «Столица Нижний», который, как и жилые комплексы «Седьмое небо» 
              | и «Цветы», строится в формате «город в городе». Это один из самых привлекательных 
              | микрорайонов заречной части, в котором созданы комфортные условия для его жителей.
      .about-company-slider__picture
        ul.about-company-slider-picture
          li.about-company-slider-picture__item
            .about-company-slider-picture__img(style=`background-image: url(${require("images/content/about-company-slider-1.jpg")})`)
          li.about-company-slider-picture__item
            .about-company-slider-picture__img(style=`background-image: url(${require("images/content/about-company-slider-1.jpg")})`)
          li.about-company-slider-picture__item
            .about-company-slider-picture__img(style=`background-image: url(${require("images/content/about-company-slider-1.jpg")})`)
