section.about
  .about__title
    h2.title О комплексе
  .about__body
    .about-slider
      .about-slider__info
        ul.about-slider-info
          li.about-slider-info__item
            .about-slider-info__title Имеем особый подход
            .about-slider-info__text
              | Жилой комплекс «Аквамарин» — это уже третий проект микрорайонной 
              | застройки девелопера «Столица Нижний», который, как и жилые комплексы «Седьмое небо» 
              | и «Цветы», строится в формате «город в городе». Это один из самых привлекательных 
              | микрорайонов заречной части, в котором созданы комфортные условия для его жителей.
          li.about-slider-info__item
            .about-slider-info__title 2Имеем особый подход
            .about-slider-info__text
              | 2Жилой комплекс «Аквамарин» — это уже третий проект микрорайонной 
              | застройки девелопера «Столица Нижний», который, как и жилые комплексы «Седьмое небо» 
              | и «Цветы», строится в формате «город в городе». Это один из самых привлекательных 
              | микрорайонов заречной части, в котором созданы комфортные условия для его жителей.
          li.about-slider-info__item
            .about-slider-info__title 3Имеем особый подход
            .about-slider-info__text
              | 3Жилой комплекс «Аквамарин» — это уже третий проект микрорайонной 
              | застройки девелопера «Столица Нижний», который, как и жилые комплексы «Седьмое небо» 
              | и «Цветы», строится в формате «город в городе». Это один из самых привлекательных 
              | микрорайонов заречной части, в котором созданы комфортные условия для его жителей.
      .about-slider__picture
        ul.about-slider-picture
          li.about-slider-picture__item
            .about-slider__img(style=`background-image: url(${require("images/content/about-slider-1.jpg")})`)
          li.about-slider-picture__item
            .about-slider__img(style=`background-image: url(${require("images/content/about-slider-1.jpg")})`)
          li.about-slider-picture__item
            .about-slider__img(style=`background-image: url(${require("images/content/about-slider-1.jpg")})`)
