section.advantages
  .advantages__title
    h2.title Какие у нас преимущества
  .advantages__body
    ul.advantages-block
      li.advantages-block__item
        .advantage
          .advantage__picture
            .advantage__img(style=`background-image: url(${require("images/content/advantage-planning.jpg")})`)
          .advantage__info
            .advantage__info-text
              .advantage__title Множество планировок
              .advantage__desc
                | В «Аквамарине» представлен широкий выбор планировок, и каждый 
                | обязательно найдет среди них свой идеал. Здесь есть классические квартиры и евроквартиры.
      li.advantages-block__item
        .advantage.advantage_reverse
          .advantage__picture
            .advantage__img(style=`background-image: url(${require("images/content/advantage-district.jpg")})`)
          .advantage__info
            .advantage__info-text
              .advantage__title Хороший район
              .advantage__desc
                | Расположение жилого комплекса «Аквамарин» на берегу реки  делает его уникальным местом, где 
                | у жителей есть возможность выхода к реке для прогулок и активного отдыха.
      li.advantages-block__item
        .advantage
          .advantage__picture
            .advantage__img(style=`background-image: url(${require("images/content/advantage-price.jpg")})`)
          .advantage__info
            .advantage__info-text
              .advantage__title  Низкие цены
              .advantage__desc
                | Привлекательные цены на недвижимость обеспечены нашим опытом на рынке недвижимости и направленности 
                | на возможность приобретения жилья нашими клиентами.
      li.advantages-block__item
        .advantage.advantage_reverse
          .advantage__picture
            .advantage__img(style=`background-image: url(${require("images/content/advantage-quality.jpg")})`)
          .advantage__info
            .advantage__info-text
              .advantage__title Качество строительства
              .advantage__desc
                | Соответствие качества зданий проектным решениям 
                | и нормативам. Качество формируется при проектировании, строительных процессах, эксплуатации.