section.find-us
  .find-us__title
    h2.title Как нас найти
  .find-us__body
    .find-us__info
      ul.find-us__info-contacts
        li.find-us__info-contacts-item
          .find-us__info-title Адрес ЖК «Аквамарин»:
          .find-us__info-desc Нижний Новгород, ул. Петрова, д 23
        li.find-us__info-contacts-item
          .find-us__info-title Адрес отдела продаж: 
          .find-us__info-desc Нижний Новгород, ул. М. Горького, 117, 3 эт.
        li.find-us__info-contacts-item
          .find-us__info-title Режим работы:
          .find-us__info-desc.find-us__info-desc_days
            | Пн-Чт— с 9:00 до 20:00
            br
            | Пт— с 9:00 до 18:00
            br
            | Сб-Вс— выходной
        li.find-us__info-contacts-item
        .find-us__info-title Телефон:
        .find-us__info-desc 
          a(href="tel:+78312020212") (831) 202-02-12
        li.find-us__info-contacts-item
        .find-us__info-title e-mail:
        .find-us__info-desc 
          a(href="mailto:info@akvamarin-nn.ru") info@akvamarin-nn.ru
    .find-us__map
      .find-us__map-ya#find-us__map-ya
