section.floor-plan
  .floor-plan__title
    h2.title.title_white Планировка зданий
  .floor-plan__body
    .floor-plan__form
      form.multiple-select
        select#mk
          option(value="empty") Выбрать дом
          option(value="house-1") Дом №1
          option(value="house-2") Дом №2
          option(value="house-3") Дом №3

        select#brand
          option(value="0") Выбрать этаж
      <img src="https://i.stack.imgur.com/WZsJn.jpg?s=48&g=1" width="250">
