section.hurry-up(style=`background-image: url(${require("images/content/hurry-up.jpg")})`)
  .hurry-up__wrap
    .hurry-up__body
      .hurry-up__text
        | Успейте купить —
        span.hurry-up__text_big-size 1 2 0
        | квартир осталось
      .hurry-up__button
        button(type="submit").button-basic.button-basic_padding Заказать звонок 
