section.numbers
  ul.numbers__list
    li.numbers__item
      .numbers__item-number 82 000²
      .numbers__item-description Общая площадь нового микрорайона
    li.numbers__item
      .numbers__item-number 1 700
      .numbers__item-description Общее количество квартир
    li.numbers__item
      .numbers__item-number 1 200
      .numbers__item-description Количество парковочных мест
