section.profit
  .profit__title
    h2.title Выгодные предложения
  .profit__body
    .profit-slider
      .profit-slider__info
        ul.profit-slider-info
          li.profit-slider-info__item
            .profit-slider-info__title Студии от 3,4 млн рублей 
            .profit-slider-info__text
              | Квартира-студия – современный тип квартир нашего комплекса, который появился 
              | на российском рынке сравнительно недавно. Она представляет собой единое жилое 
              | пространство без перегородок, которое можно разделить на несколько зон, и только 
              | санузел сделан отдельным помещением. По сути, это однокомнатная квартира, в которой 
              | объединены кухня и комната.
          li.profit-slider-info__item
            .profit-slider-info__title 2Студии от 3,4 млн рублей 
            .profit-slider-info__text
              | 2Квартира-студия – современный тип квартир нашего комплекса, который появился 
              | на российском рынке сравнительно недавно. Она представляет собой единое жилое 
              | пространство без перегородок, которое можно разделить на несколько зон, и только 
              | санузел сделан отдельным помещением. По сути, это однокомнатная квартира, в которой 
              | объединены кухня и комната.
          li.profit-slider-info__item
            .profit-slider-info__title 3Студии от 3,4 млн рублей 
            .profit-slider-info__text
              | 3Квартира-студия – современный тип квартир нашего комплекса, который появился 
              | на российском рынке сравнительно недавно. Она представляет собой единое жилое 
              | пространство без перегородок, которое можно разделить на несколько зон, и только 
              | санузел сделан отдельным помещением. По сути, это однокомнатная квартира, в которой 
              | объединены кухня и комната.
      .profit-slider__picture
        ul.profit-slider-picture
          li.profit-slider-picture__item
            .profit-slider-picture__img(style=`background-image: url(${require("images/content/profit.jpg")})`)
          li.profit-slider-picture__item
            .profit-slider-picture__img(style=`background-image: url(${require("images/content/profit.jpg")})`)
          li.profit-slider-picture__item
            .profit-slider-picture__img(style=`background-image: url(${require("images/content/profit.jpg")})`)
