section.scheme(style=`background-image: url(${require("images/content/scheme.jpg")})`)
  .scheme-wrap
    .scheme__title
      h2.title.title_white Схема работы
    .scheme__body
      ul.scheme__list
        li.scheme__item
          .scheme__item-step 1
          .scheme__item-desc Звонок
        li.scheme__item
          .scheme__item-step 2
          .scheme__item-desc Обсуждение потребностей
        li.scheme__item
          .scheme__item-step 3
          .scheme__item-desc Подбор квартиры
        li.scheme__item
          .scheme__item-step 4
          .scheme__item-desc Подписание договора
        li.scheme__item
          .scheme__item-step 5
          .scheme__item-desc Окончание строительства
        li.scheme__item
          .scheme__item-step 6
          .scheme__item-desc Закрытие выплат