section.turnkey
  .turnkey__title
    h2.title Отделка под ключ
  .turnkey__body
    .container.turnkey__container
      .turnkey__picture
        +image('content/turnkey.jpg', 'turnkey__picture-img')
      .turnkey__info
        ul.turnkey__kind
          li.turnkey__kind-item
            .turnkey__kind-item-title Материалы
            .turnkey__kind-item-list
              ul.turnkey-what
                li.turnkey-what__item Водоэмульсионная краска
                li.turnkey-what__item Флизелиновые обои
                li.turnkey-what__item Коммерческий линолеум
          li.turnkey__kind-item
            .turnkey__kind-item-title Сантехника
            .turnkey__kind-item-list
              ul.turnkey-what
                li.turnkey-what__item Стальная ванна
                li.turnkey-what__item Две раковины
                li.turnkey-what__item Подвесной унитаз
          li.turnkey__kind-item
            .turnkey__kind-item-title Мебель
            .turnkey__kind-item-list
              ul.turnkey-what
                li.turnkey-what__item Мягкий диван
                li.turnkey-what__item Двухспальная кровать
                li.turnkey-what__item Обеденное место
          li.turnkey__kind-item
            .turnkey__kind-item-title Спецуслуги
            .turnkey__kind-item-list
              ul.turnkey-what
                li.turnkey-what__item Электропроводка
                li.turnkey-what__item Разводка к отоплению
                li.turnkey-what__item Электрический счетчик
