.numbers__list {
  display: flex;
  justify-content: center;
}

.numbers__item {
  max-width: 291px;
  margin-right: 8.5%;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.numbers__item-number {
  font-weight: bold;
  font-size: 70px;
  line-height: 93px;
  color: $submain;
}

.numbers__item-description {
  margin-top: 25px;
  line-height: 21px;
}