.room-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  // padding-bottom: 100px !important;
}

.room-tabs__tab-pane {
  margin-top: 25px;
  width: 100%;
  height: 100%;
}
