.button-basic[type=button],
.button-basic[type=submit]  {
  background-color: $btn;
  padding: 22px 43px 25px;
  font-weight: bold;
  color: $secondary;
  border: 2px solid transparent;
  transition: all $speed;

  &:hover {
    background-color: rgba(black, 0.5);
    color: $btn;
    border: 2px solid $btn;
  }

  &.button-basic_padding {
    padding: 19px 66px;
  }
}