.button-basic[type=button] {
  background-color: $btn;
  padding: 22px 43px 25px;
  font-weight: bold;
  color: $secondary;
  border: 2px solid transparent;
  transition: all $speed;

  &:hover {
    background-color: transparent;
    color: $btn;
    border: 2px solid $btn;
  }
}