.counter__pages-text {
  font-weight: 350;
  font-size: 32px;
  line-height: 48px;
  color: $secondary;

  &_bold {
    font-size: 45px;
    line-height: 64px;
    font-weight: normal;
    color: $secondary;
  }
}