.time-takes {
  display: flex;
  justify-content: space-between;
}

.time-takes__item {
  max-width: 160px;
  margin-right: 7%;

  &:last-child {
    margin-right: 0;
  }
}

.time-takes__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 25px;
}

.time-takes__destination {
  margin-top: 20px;
}