.about-slider-picture, .about-slider-picture__item {
  width: 100%;
  height: 100%;

  .slick-list, .slick-track {
    width: 100%;
    height: 100%;
  }

  .slick-slide {
    & div:only-child {
      height: 100%;
    }
  }
}