.about-slider {
  display: flex;
  background-color: $about-slider-bg;
  color: $secondary;
}

.about-slider__info {
  padding: 8.2% 10.4% 8.2% 8.4%;
  flex: 1;
  overflow: hidden;
}

.about-slider__picture {
  flex-basis: 53.1%;
  overflow: hidden;
}