.mortgage-table {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 37px 5%;
  align-items: center;
}

.mortgage-table__radios {
  display: flex;
}

.mortgage-table__radio-item {
  margin-right: 5%;

  &:last-child {
    margin-right: 0;
  }
}