.profit-slider-info {
  outline: none;
}

.profit-slider-info__item {
  max-width: 448px;
  width: 100%;
}

.profit-slider-info__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
}

.profit-slider-info__text {
  line-height: 26px;
  margin-top: 33px;
}
