.form-questions {
  display: flex;
  align-items: center;
}

.form-questions__input {
  height: 55px;
  flex: 1;
  margin-right: 3%;

  .input-basic {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
  } 
}
