include templates/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Жилой комплекс Аквамарин
  body
    .wrapper
      include templates/blocks/home
      include templates/blocks/advantages
      include templates/blocks/about
      include templates/blocks/nearby
      include templates/blocks/callback
