include templates/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Жилой комплекс Аквамарин
    script(src='https://api-maps.yandex.ru/2.1/?apikey=820543ba-f487-459c-b04e-d247cde4f78a&lang=ru_RU' type='text/javascript')
  body
    .wrapper
      include templates/blocks/home
      include templates/blocks/advantages
      include templates/blocks/about-complex
      include templates/blocks/nearby
      include templates/blocks/callback
      include templates/blocks/numbers
      include templates/blocks/about-company
      include templates/blocks/choose-room
      //- include templates/blocks/interactive-map
      include templates/blocks/excursion
      include templates/blocks/scheme
      include templates/blocks/gallery
      include templates/blocks/profit 
      include templates/blocks/turnkey 
      include templates/blocks/hurry-up
      include templates/blocks/payment
      include templates/blocks/find-us
      include templates/blocks/questions
      include templates/blocks/footer
